extends ../components/layout.jade

block title
  title 云合同说明
block link
  link(href='../css/contract.css' rel='stylesheet')
block content
  div.banner
  div.wrapper
    .content
      div
        p 电子合同是通过计算机网络系统订立,以数据电文的方式生成、储存或传递的合同。“云合同”平台作为电子合同第三方平台是工信部授予的“国家电子合同创新服务平台”。
        p “云合同”平台全面负责一鼎理财在线合同生成、在线签署、云端存储、履行监管的完整生态体系，为一鼎用户新增一套电子交易凭证保全屏障。通过有资质的第三方，实时保全平台交易过程中的电子数据，加密上传至云端，并通过第三方与司法鉴定中心无缝对接。既体现了交易数据的独立性，又保持了存证的权威性，确保了平台交易电子合同数据在法律上的证明效力。
      div
        h3
        p 法律保障 每份交易数据
        p 信息存储 安全全面升级
        p 清晰可查 每笔投资交易
        p 合同流转 更加高效便捷
      div
        h3
        p 一是为了积极响应监管政策，落实备案要求践行合规每一步。
        p 二是最大程度保障投资人的合法权益，加强交易数据安全性。